body {
  background-image: linear-gradient(to right, rgb(255, 0, 255) , yellow);
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-align: center;
}

main {
  height: 700px;
  max-width: 800px;
  background-color: rgba(245, 245, 245, 0.295);
  padding: 1rem;
  margin-inline: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

h1 {
  font-size: 40px;
  margin: 0;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;

}

.die-face {
  grid-row: span 1;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}

.roll-dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.18);
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.roll-dice:focus {
  outline: none;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}
  
.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face, .sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column, .sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}
  
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

[class$="face"] {
  margin: 16px;
  padding: 4px;
  
  background-color: #d448a6;
  width: 104px;
  height: 104px;
  object-fit: contain;
  
  box-shadow:
    inset 0 5px rgb(192, 86, 166), 
    inset 0 -5px rgb(197, 65, 153),
    inset 5px 0 #e74fc1, 
    inset -5px 0 #db4cbc;
  
  border-radius: 10%;
}

.pip {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: rgb(57, 5, 179);
  box-shadow: inset 0 3px rgb(90, 5, 129), inset 0 -3px rgb(84, 33, 114);
}



@media only screen and (max-width: 600px) {
  
  

  main {
    height: 800px;
    max-width: 500px;
    background-color: whitesmoke;
    padding: 1rem;
    margin-inline: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  h1 {
    font-size: 15px;
    margin: 0;
  }
  
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
  }
  
  .die-container {
    display: grid;
    grid-template: auto auto auto auto auto / repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  
  }
  
  
  .die-face {
    grid-row: span 1;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
  }
  

  .roll-dice {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.18);
  }
  
  .roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  
  .roll-dice:focus {
    outline: none;
  }
  
  .first-face {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-face {
    display: flex;
    justify-content: space-between;
  }
  
  .second-face .pip:nth-of-type(2) {
    align-self: flex-end;
  }
  
  .third-face {
    display: flex;
    justify-content: space-between;
  }
    
  .third-face .pip:nth-of-type(2) {
    align-self: center;
  }
  
  .third-face .pip:nth-of-type(3) {
    align-self: flex-end;
  }
  
  .fourth-face, .sixth-face {
    display: flex;
    justify-content: space-between;
  }
  
  .fourth-face .column, .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face {
    display: flex;
    justify-content: space-between;
  }
    
  .fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    
  .fifth-face .column:nth-of-type(2) {
    justify-content: center;
  }
  
  [class$="face"] {
    margin: 16px;
    padding: 4px;
    
    background-color: #e7e7e7;
    width: 50px;
    height: 50px;
    object-fit: contain;
    
    box-shadow:
      inset 0 5px white, 
      inset 0 -5px #bbb,
      inset 5px 0 #d7d7d7, 
      inset -5px 0 #d7d7d7;
    
    border-radius: 10%;
  }
  
  .pip {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
  }
  
}
